# vim: filetype=ini

[user]
	email = kirk.easterson@gmail.com
	name = Kirk Easterson
[github]
	user = kirkeasterson
[url "git@github.com:"]
	insteadOf = https://github.com/
[safe]
	directory = /home/kirk/.cache/yay/gspt-git/src/gspt-git
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
	excludesfile = /Users/kirk/.config/git/ignore_global
[push]
	default = simple
[log]
	date = relative
[color]
	ui = auto
	ui = true
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[diff]
	colorMoved = default
	tool = difftastic


;;;;;;; EXTENSIONS ;;;;;;;

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	; use n and N to move between diff sections
	navigate = true
	line-numbers = true
	; side-by-side = true
[merge]
	; TODO: change some colors to make changes more obvious
	conflictstyle = diff3

[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true

;;;;;;; ALIASES ;;;;;;;
; any scripts called are in this same repo

; vanilla git helpers
[alias]
	default-branch = !"git-default-branch.sh"
	gl = !"git_log.sh"
	pristine = !"git_pristine.sh"
	fixup = !"git_fixup.sh"

; extensions
[alias]
	dft = difftool

; my opinionated git setup
[alias]
	clone-mine = !"git_clone.sh"
	branch-mine = !"git_branch.sh"
	prune-branches = !"git_prune_branches.sh"
	clone-for-worktrees = !"git_clone_bare_for_worktrees.sh"


;;;;;;; LOCAL CONFIG ;;;;;;;
[include]
	path = ~/.config/git/.gitconfig.local
