# vim: filetype=ini

[user]
	email = kirk.easterson@gmail.com
	name = Kirk Easterson
[github]
	user = kirkeasterson
[url "git@github.com:"]
	insteadOf = https://github.com/
[safe]
	directory = /home/kirk/.cache/yay/gspt-git/src/gspt-git
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
	excludesfile = /Users/kirk/.config/git/ignore_global
[push]
	default = simple
[log]
	date = relative
[color]
	ui = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[diff]
	colorMoved = zebra
	colorMovedWS = ignore-space-change
	tool = difftastic


;;;;;;; EXTENSIONS ;;;;;;;

[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	; use n and N to move between diff sections
	navigate = true
	hyperlinks = true
	line-numbers = true
	side-by-side = true
	minus-style = syntax "#550000"
	plus-style = syntax "#000055"
[merge]
	; TODO: change some colors to make changes more obvious
	conflictstyle = diff3

;;;;;;; LOCAL CONFIG ;;;;;;;
[include]
	path = ~/.config/git/.gitconfig.local
