[user]
	email = kirk.easterson@gmail.com
	name = Kirk Easterson
[safe]
	directory = /home/kirk/.cache/yay/gspt-git/src/gspt-git
[init]
	defaultBranch = main
[core]
	excludesfile = /home/kirk/.config/git/ignore
	askPass = ksshaskpass
[fetch]
	prune = true
[push]
	autoSetupRemote = true

[alias]
	default-branch = !"git-default-branch.sh"

; easy worktree clone
[alias]
	clone-for-worktrees = "!sh git_clone_bare_for_worktrees.sh"

; easy fixups
[alias]
  fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[alias]
  gl = "log --oneline --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

; delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true # use n and N to move between diff sections
	; side-by-side = true
	line-numbers = true
[merge] ; TODO: change some colors to make changes more obvious
	conflictstyle = diff3
[diff]
	colorMoved = default

; difftastic
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[alias]
	dft = difftool

[include]
    path = ~/.config/git/gitconfig.local
