**/*.env
**/*.env.*
**/.envrc
**/.autoenv.zsh

**/.luarc.json
**/__pycache__/
**/.mypycache
**/*.pyc
**/*.pyo
**/.vscode

monitors.conf

elpa/
transient/

bin/.local/share/*
bin/.local/state/*
git/.config/git/gitconfig.local

**/fontconfig/conf.d/*

firefox/*
!firefox/chrome/userChrome.css
!firefox/addons.json
!firefox/user.js

**/systemd/user/default.target.wants/*
**/systemd/user/sockets.target.wants/*

**/yazi/plugins/*

**/shell/local_exports

**/zsh/.antidote/
**/zsh/.zcompdump*
**/zsh/.zsh_plugins.zsh
**/zsh/antidote/

**/vlc/vlc-qt-interface.conf

**/vim/plugged/
**/vim/autoload/

**/nvim/autoload
**/nvim/plugin
**/nvim/plugged
**/nvim/db_ui

**/btop/btop.log

**/sway/outputs
**/sway/workspaces

**/tmux/plugins

**/qimgv/savedState.conf

**/lazygit/state.yml

**/karabiner/automatic_backups
