.config/JetBrains/*
.config/autorandr/*
.config/dconf/*
.config/htop/*
.config/ibus/*
.config/ibus/*
.config/nvim/plugged/*
.config/pavucontrol.ini
.config/systemd/*
.config/zoomus.conf
.config/autostart
.config/QtProject.conf
.config/evolution/*
.config/mono.addins/*
.config/lf/cleaner
.config/lf/preview
.config/pulse/*
