configuration {
	display-drun: "Applications";
	display-window: "Windows";
	drun-display-format: "{icon} {name}";
	font: "JetBrains Mono Nerd Font 20";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "Papirus-Dark";
	matching: "fuzzy";
	sorting-method: "fzf";
	sort: true;
}

@theme "gruvbox-dark-soft"

#window {
	border: 1px;
	border-radius: 6px;
	border-color:	#0c0c0c;
	width: 35%;
	height: 35%;
}

element-icon {
	size: 2.9ch;
}
