configuration {
	display-drun: "Applications";
	display-window: "Windows";
	drun-display-format: "{icon} {name}";
	font: "Ubuntu Nerd Font 28";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "Papirus";
	matching: "fuzzy";
	sorting-method: "fzf";
	sort: true;
}

@theme "gruvbox-dark-soft"

#window {
	border: 1px;
	border-radius: 6px;
	border-color:	#0c0c0c;
	width: 40%;
}
