configuration {
	display-drun: "Applications";
	display-window: "Windows";
	drun-display-format: "{icon} {name}";
	font: "Ubuntu Mono Nerd Font Regular 10";
	modi: "window,run,drun";
	show-icons: true;
	icon-theme: "Papirus";
	matching: "fuzzy";
	sorting-method: "fzf";
	sort: true;
}

@theme "gruvbox-dark-soft"

#window {
  border: 1px;
  border-radius: 8px;
  border-color:	#0c0c0c;
  width: 20%;
}
