window {
  background-color: #32302f;
  border-color: #0c0c0c;
  border-radius: 8px;
  border: 1px;
  color: #d5c4a1;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 20px;
}

#entry:nth-child(odd) {
  background-color: #32302f;
}

#entry:nth-child(even) {
  background-color: #3c3836;
}

#entry:selected {
  background-color: #504945;
}

#input {
  background-color: #3c3836;
  color: #bdae93;
  border-color: #504945;
}

#input:focus {
  border-color: #fabd2f;
}
