@define-color base03  #002b36;
@define-color base02  #073642;
@define-color base01  #586e75;
@define-color base00  #657b83;
@define-color base0   #839496;
@define-color base1   #93a1a1;
@define-color base2   #eee8d5;
@define-color base3   #fdf6e3;
@define-color yellow  #ffff00;
@define-color orange  #ffa500;
@define-color red     #ff0000;
@define-color magenta #ff00ff;
@define-color violet  #8f00ff;
@define-color blue    #0000ff;
@define-color cyan    #00ffff;
@define-color green   #00ff00;

/* must be an absolute path  */
/* @import "/home/kirk/.cache/wal/colors-waybar.css"; */
@define-color black #000000;
@define-color grey #504945;

* {
  font-family: "Iosevka Nerd Font";
  font-size: 14px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  color: @base3;
  background: @black;
  border-bottom: 1px solid @grey;
}

#workspaces button {
  background: @black;
  border-top: 1px solid @yellow;
  min-width: 22px;
  border-radius: 0%;
  margin-left: 1px;
  margin-right: 1px;
}

/* this _must_ come after button.visible */
#workspaces button.focused {
  background: @grey;
}

#workspaces button.urgent {
  background: @red;
}

#tags button {
  background: transparent;
  border-top: 1px solid @yellow;
  min-width: 22px;
  border-radius: 0%;
  margin-left: 1px;
  margin-right: 1px;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
}

#tags button.occupied {
  border-top: 1px solid @grey;
}

#tags button.focused {
  border-top: 1px solid @yellow;
  background: @base02;
}

#tags button.urgent {
  background: @red;
}

#wireplumber.muted {
  color: @grey;
}

@keyframes blink {
  to {
    background: inherit;
    color: inherit;
  }
}

#temperature.critical {
  background: @red;
  color: @black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  background: @yellow;
  color: @black;
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background: @red;
  color: @black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @base3;
  background: @base02;
  font-weight: bold;
  padding: 0px 5px;
}

#custom-line-separator {
  color: @grey;
}

#taskbar button {
  background: @background;
  margin: 1px;
  padding: 5px;
}

#taskbar button.active {
  background: @bg2;
}

#custom-do-not-disturb.off {
  color: @yellow;
}

#custom-do-not-disturb.on {
  color: @red;
}

#custom-idle-inhibitor.on {
  color: @base1;
}

#custom-idle-inhibitor.off {
  color: @grey;
}

#custom-recorder {
  color: @red;
}

#custom-recorder.off {
  color: @grey;
}
