/* must be an absolute path  */
@import "/home/kirk/.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  border-bottom: 1px solid @background;
  color: @color7;
}

#group-win {
  margin-right: 5px;
}

#custom-close,
#custom-maximize,
#custom-minimize {
  margin: 0px 3px;
  padding: 0px 10px 0px 4px;
  border-radius: 50%;
}

#group-power * {
  padding: 0px 5px;
}

#workspaces button {
  border-top: 1px solid @color15;
  min-width: 22px;
  border-radius: 0%;
  margin-left: 1px;
  margin-right: 1px;
}

#workspaces button.visible {
  background: @color9;
  border-top: 1px solid @color3;
}

/* this _must_ come after button.visible */
#workspaces button.focused {
  background-color: @color8;
}

#workspaces button.urgent {
  background-color: @color1;
}

#tags button {
  background: @color0;
  border-top: 1px solid @color1;
  min-width: 22px;
  border-radius: 0%;
  margin-left: 1px;
  margin-right: 1px;
  background-color: transparent;
}

#tags button:not(.occupied):not(.focused) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  border: 0;
  opacity: 0;
  box-shadow: none;
}

#tags button.occupied {
  background: @color0;
}

#tags button.focused {
  color: @color0;
  background-color: @color2;
}

#tags button.urgent {
  background-color: @color10;
  border-top: 2px solid @color3;
}

#wireplumber.muted {
  color: @color8;
}

#cpu {
  text-decoration-color: @color1;
}

#memory {
  text-decoration-color: @color1;
}

#temperature {
  text-decoration-color: @color7;
}

@keyframes blink {
  to {
    background-color: inherit;
    color: inherit;
  }
}

#temperature.critical {
  background: @color1;
  color: @color0;
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#battery.warning:not(.charging) {
  background: @color2;
  color: @color0;
  /* animation-name: blink; */
  /* animation-duration: 2s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#battery.critical:not(.charging) {
  background: @color2;
  color: @color0;
  /* animation-name: blink; */
  /* animation-duration: 0.5s; */
  /* animation-timing-function: linear; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
}

#clock {
  background-color: @color0;
  font-weight: bold;
  padding: 0px 5px;
}

#custom-search {
  padding: 0px 5px 0px 5px;
}

#custom-line-separator {
  color: @color9;
}

#taskbar button {
  background-color: @color0;
  margin: 1px;
  padding: 5px;
}

#taskbar button.active {
  background-color: @bg2;
}

#custom-do-not-disturb.off {
  color: @color3;
}

#custom-do-not-disturb.on {
  color: @color8;
}

#custom-idle-inhibitor.on {
  color: @color2;
}

#custom-idle-inhibitor.off {
  color: @color8;
}

#custom-recorder {
  color: @color14;
}

#custom-recorder.off {
  color: @color8;
}
