* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16;
  min-height: 0;
  margin: 0px;
  padding: 0px;
}

window#waybar {
  border-bottom: 1px solid #665c54;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0px 4px;
  border-top: 1px solid #7c6f64;
}

#workspaces button.visible {
  background: #3c3836;
  border-top: 1px solid #9d0006;
}

/* this _must_ come after button.visible */
#workspaces button.focused {
  background-color: #504945;
  border-top: 2px solid #fabd2f;
}

#workspaces button.urgent {
  background-color: #bf616a;
  border-top: 2px solid #cc241d;
}

/* #clock, */
/* #battery, */
/* #cpu, */
/* #memory, */
/* #temperature, */
/* #backlight, */
/* #network, */
/* #pulseaudio, */
/* #custom-media, */
/* #tray, */
/* #mode, */
/* #idle_inhibitor { */
/*   padding: 0 0px; */
/*   margin: 0 0px; */
/* } */

#clock {
  background-color: #504945;
  font-weight: bold;
  padding: 0 5px;
}

@keyframes blink {
  to {
    /*background-color: #ffffff;*/
    color: #ebdbb2;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-line-separator {
  color: #3c3836;
}

.custom-vlc {
  background: #ffa000;
}

#temperature.critical {
  background: #eb4d4b;
}
