# # init keyring
# eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
# # export keyring
# export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_DIRS="/etc/xdg "
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_STATE_DIRS="/usr/local/share/:/usr/share/"
export XDG_CACHE_HOME="$HOME/.cache"
# export XDG_RUNTIME_DIR=""

export LANG="en_US.UTF-8"
export LC_CTYPE="nb_NO.UTF-8"
export LC_NUMERIC="nb_NO.UTF-8"
export LC_TIME="nb_NO.UTF-8"
export LC_COLLATE="nb_NO.UTF-8"
export LC_MONETARY="nb_NO.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_PAPER="nb_NO.UTF-8"
export LC_NAME="nb_NO.UTF-8"
export LC_ADDRESS="nb_NO.UTF-8"
export LC_TELEPHONE="nb_NO.UTF-8"
export LC_MEASUREMENT="nb_NO.UTF-8"
export LC_IDENTIFICATION="nb_NO.UTF-8"

export DOTFILES=$HOME/.dotfiles
export BROWSER=firefox
export BROWSER_SECONDARY=chromium
export TERMINAL=wezterm
export TERMINAL_SECONDARY=alacritty
export FILEMANAGER=pcmanfm
export EDITOR=nvim
export VISUAL=nvim

export ZDOTDIR=$XDG_CONFIG_HOME/zsh

export QT_QPA_PLATFORMTHEME=qt5ct

if [ -s ~/.Xmodmap ]; then
    xmodmap ~/.Xmodmap
fi

blueman-applet &
cbatticon &
flameshot &
nm-applet &
# package-update-indicator & # uncomment for debian distros
picom &
sxhkd &
unclutter &
volumeicon &
xcape -e "Shift_L=parenleft;Shift_R=parenright" &
light-locker --lock-after-screensaver=5 --lock-on-suspend --lock-on-lid --idle-hint &
# eval $(dbus-launch --sh-syntax)
