# # init keyring
# eval $(/usr/bin/gnome-keyring-daemon --start --components=gpg,pkcs11,secrets,ssh)
# # export keyring
# export GNOME_KEYRING_CONTROL GNOME_KEYRING_PID GPG_AGENT_INFO SSH_AUTH_SOCK

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"

export DOTFILES=$HOME/.dotfiles
export BROWSER=firefox
export BROWSER_SECONDARY=chromium
export TERMINAL=wezterm
export TERMINAL_SECONDARY=alacritty
export FILEMANAGER=pcmanfm
export EDITOR=nvim
export VISUAL=nvim

if [ -s ~/.Xmodmap ]; then
    xmodmap ~/.Xmodmap
fi

blueman-applet &
cbatticon &
flameshot &
nm-applet &
package-update-indicator &
picom &
sxhkd &
unclutter &
volumeicon &
xcape -e "Shift_L=parenleft;Shift_R=parenright" &
light-locker --lock-after-screensaver=5 --lock-on-suspend --lock-on-lid --idle-hint &
# eval $(dbus-launch --sh-syntax)
