.gsd-keyboard.settings-ported
1Password/*
BraveSoftware/*
Code/*
Docker Desktop/*
JetBrains/*
Mousepad/*
Postman/*
QtProject.conf
Slack/*
Thunar/*
Unknown\ Organization/*
VSCodium/*
VirtualBox/*
autorandr/*
autostart
cef_user_data/*
chromium/*
dconf/*
developer-rig/*
discord/*
dlv/*
evolution/*
gcloud/*
gedit/*
gh/*
gnome-control-center/*
gnome-initial-setup-done
google-chrome-beta/*
google-chrome-unstable/*
google-chrome/*
gtk-3.0/bookmarks
htop/*
ibus/*
ibus/*
lf/cleaner
lf/preview
menus/*
microsoft-edge-dev/*
mono.addins/*
nemo/*
nvim/plugged/*
pavucontrol.ini
pop-shell/*
pop-system-updater/*
pulse/*
qalculate/*
shell/local_exports
systemd/*
touchegg/*
vivaldi-snapshot/*
vivaldi/*
vscode-sqltools/*
whatscli/*
xfce4/xfconf/*
zoomus.conf
